main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#habilidades {
    margin-bottom: 9rem;
    background-color: var(--caixa-azul);
    border-radius: 4px;
    padding: 2rem;
    margin-top: 9rem;
}
.icones {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.icones img{
    width: 7rem;
}

.texto {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-block-start: 1rem;
}

.texto p {
    width: 22rem;
    margin-inline-start: 1.5rem;
}

#projetos {
    background:no-repeat fixed url('../imgs/fundoprojetos.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: 9rem;
}

.project-box {
    margin: 5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo2 {
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'poppins';
    color: #f8f8f8;
    background-color: rgb(94, 178, 218);
    border-radius: 4px;
    width: 15rem;
    text-align: center;
}

.img-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
    column-gap: 6rem;
    row-gap: 5rem;
    margin-bottom: 4rem;
    
}

.img-projetos img {
    width: 18rem;
    filter: brightness(.6);
}

.img-projetos img:hover {
    filter: brightness(.85);
    transition: .2s;
    transform: rotate3d(0.3, 0.3, 1, -2deg );

}

.project-box p {
    color: #f8f8f8;
}
